@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
  --primary: #065F46;
  --destructive: #BE123C;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-destructive: var(--destructive);

  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}